<form action="/customers" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new customer:</p>
  <p>First Name: <input type='text' name='customer[first_name]'/></p><br/>
  <p>Last Name: <input type='text' name='customer[last_name]'></p><br/>
  <p>In USA? <select id="in_usa" name='in_usa'>
    <option value="true">true</option>
    <option value="false">false</option>
  </select></p>
  <p>Credit score: <input type='text' name='customer[credit_score]'></p><br/>
  <input type="submit" value="Submit"/>
</form>